@charset "utf-8";

$tq-blue: #000000;
$deepmind-blue: #000000;
$link-color: $tq-blue;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title a {
    text-decoration: none;
}